debug = true
host = "127.0.0.1"
port = 8080

[database]
host = "localhost"
port = 3306
username = "root"
password = "password"
default_db = "niuwa"

[auth]
jwt_key = "CHANGE_ME"
timeout = 3600
max_refresh = 7200